@import '../../../../styles/variables';

.wrapper {
  display: grid;
  grid-template-columns: $grid-template-columns;

  width: 100%;
  min-width: 320px;
  max-width: 95vw;

  margin: 5px;

  font-size: $font-size-m;
  font-family: $font-family;

  &Cell {
    padding: $cell-padding-vertical-s $cell-padding-horizontal-s;
    border-bottom: $cell-border-bottom;

    font-family: $font-family;
    font-weight: $font-weight-normal;
    text-align: left;
  }
}
