@import './base.module.scss';
@import '../../../../styles/breakpoints';

@media (min-width: breakpoint-2) {
  .wrapper {
    width: $width-medium;
    margin: 0px auto;
  }
}

@media (min-width: breakpoint-3) {
  .wrapper {
    width: $width-long;
  }
}
