@import "../../../styles/multistep-form-variables.scss";

.wrapper {

    width: 100%;
    top: 10px;

    padding: 10px;
        
    font-family: $font-main;
    
    &Title {
        margin: 10px 0 30px;
        color: $pagination-button-color-hoover;

        font-family: $font-main;
        font-weight: $weight-bold;
        font-size: 26px;
    }
    
    }