@import '../../../styles/variables.scss';

.wrapper {
  width: 100%;
  top: 10px;

  padding: 10px;

  font-family: $font-roboto;

  &Title {
    margin: 10px 0 30px;
    color: $pagination-button-color-hoover;

    font-family: $font-roboto;
    font-weight: 600;
    font-size: 26px;
  }
}
