@import '../../../../styles/variables';

.wrapper {
  padding: 15px;
  font-family: $font-roboto;
  font-size: $font-size-s;
  line-height: calc(2 * $font-size-s);
  color: $color-font;

  &DivToObserve {
    min-height: 20px;
    background-color: $color-main;
  }
}

.classActive {
  transition-duration: 1s;
  background-color: $color-secondary;
  color: white;
}
