@import '../../styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 80%;
  max-height: 70vh;
  padding: 20px;
  margin: 0 auto;

  padding: 5px;

  &Form {
    width: 70%;

    padding: 10px;
    margin: 0 auto;

    background-color: $form-background-color;
  }
}
