@import '../../../styles/variables';

.wrapper {
  display: flex;
  justify-content: center;

  padding: 10px;

  &Information {
    font-family: $font-roboto;
    color: $color-invalid-password;
  }
}
