@import "../../../styles/variables";

$progress-bar-height: 30px;
$progress-bar-width: 30px;

$progress-bar-radius: calc( $progress-bar-height / 2);

$form-background-color: rgb(226, 226, 226);

$form-button-disabled: rgb(187, 187, 187);
