@import '../../../styles/use-geo-variables';

.wrapper {
  font-family: Arial;
  font-size: 24px;

  &Label {
    font-weight: 400;
    padding-top: 20px;
  }

  &Coordinate {
    font-weight: 700;
  }
}
