@import '../../../../../src/app/ui/variables';
@import '../../../styles/useMemoVariables';

.wrapper {
  // display: flex;
  // flex-basis: 1fr 1fr;

  &Explanation {
    width: 100%;
  }

  &Textarea {
    display: flex;
    flex-direction: column;
    width: 100%;

    min-width: $input-min-width;
    min-height: $input-min-height;

    &Button {
      margin-top: 20px;
    }
  }
}
