.wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding-right: 20px;

  width: 100%;
  margin: 10px;

  &Input {
    flex-basis: 60%;
  }

  &InputBlockHolder {
    display: flex;
    flex-basis: fr fr;
  }

  &Button {
    display: block;
    margin: 0 10px 10px 0;
    width: 200px;
  }

  &Error {
    margin-top: 6px;
    height: 30px;
    margin-bottom: 6px;
    color: red;
    font-weight: 600;
    font-size: 14px;
  }
}
