.wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 80%;
  margin: 10px;

  &Inputs {
    display: flex;
    flex-wrap: wrap;
  }

  &Button {
    display: block;
    margin: 0 10px 10px 0;
    width: 200px;
  }
}
