@import '../../../../styles/rating-stars-variables';

.wrapper {
  box-sizing: border-box;

  padding: 12px;
  margin-bottom: 5px;

  color: rgb(102, 93, 93);
  background-color: #ececec;

  text-decoration: none;

  &Header {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

    &Name {
      font-family: var(--font-roboto);
      font-size: font-size-m;
    }

    &Stars {
      display: inline-block;
    }
  }

  &TextComment {
    padding-left: 2px;
    padding-right: 2px;

    font-family: var(--font-roboto);
    font-size: $font-size-s;
    line-height: calc(1.5 * $font-size-s);
  }
}
