@import "../../../../../../styles/variables";
@import "../../../../styles/password-input-variables";

.wrapper {
  margin: $input-margin;

  &InputNumber {
    display: block;

    padding-top: 4px;

    color: $color-input-number;

    font-family: $font-main;
    font-size: 13px;
    text-align: center;
  }
}
