$font-roboto: var(--font-roboto);

$color-main: #41b853;
$color-secondary: #efa500;
$color-tertiary: #f40058;
$color-dark: #17252a;
$color-dark-secondary: #353638;
$color-light: #feffff;
$color-light-secondary: #def2f1;
