@import './variables';

.wrapper {
  max-width: 1000px;
  margin: 10px auto;

  &Home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
  }

  &HomeTitle {
    display: inline-block;
    font-size: 30px;
    text-align: center;
  }
}
