@import './reset';
@import './variables';

body {
  font-family: var(--font-roboto);
}

.button-default {
  min-width: 150px;
  padding: 10px 30px;

  border: 2px solid white;

  font-family: $font-roboto;
  font-weight: 600;
  color: $color-light;

  background-color: $color-tertiary;

  &:hover {
    background-color: darken($color: $color-tertiary, $amount: 10%);
    border: 2px solid darken($color: $color-tertiary, $amount: 15%);
  }

  &:focus {
    border: 2px solid darken($color: $color-tertiary, $amount: 15%);
  }
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}
