@import '../../../src/app//ui/variables';

.navigationItem {
  flex-grow: 1;

  width: 100%;
  margin-bottom: 5px;

  text-decoration: none;
  text-align: center;

  &Link {
    display: block;

    padding: 5px 10px;

    background-color: $color-secondary;

    font-size: 16px;
    text-decoration: none;
    line-height: 25px;
    color: $color-dark-secondary;

    &:hover {
      background-color: $color-main;
      transition-duration: 0.3s;
    }
  }
}
