.wrapper {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 95%;
  max-width: 1000px;
  margin: 0 auto;

  &Input {
    box-sizing: border-box;

    width: 100%;
  }
}
