@import '../../../../../styles/variables';
@import '../../../styles/variables';

.wrapper {
  &Explanation {
    width: 100%;
  }

  &Textarea {
    display: flex;
    flex-direction: column;
    width: 100%;

    min-width: $input-min-width;
    min-height: $input-min-height;

    &Button {
      margin-top: 20px;
    }
  }
  &Number {
    min-height: 100px;
    text-align: start;
  }

  &Error {
    height: 60px;
  }
}
