// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

// $font-main: 'Open Sans', Arial, sans-serif;
@import '../../../src/styles/variables';
@import '../../../src/styles/fonts';

$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 24px;
$star-size: 20px;
$star-size-margin: 2px;

$full-star-color: '#ffc107';
$blank-star-color: '#dddddd';
