@import '../../../src/app/ui/variables';

$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 24px;
$star-size: 20px;
$star-size-margin: 2px;

$full-star-color: '#ffc107';
$blank-star-color: '#dddddd';
