@import '../../../../../../../src/app/ui/variables';

.wrapper {
  display: block;
  padding-left: 10px;

  &Code {
    display: block;
    padding: 20px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Courier New';
    background-color: $color-light-secondary;
  }
}
