@import "../../../styles/variables";

$color-input-blocked: #e0e0e0;
$color-input-active-border: #b9b9b9;
$color-input-number: #7a7a7a;

$color-invalid-password: rgb(216, 112, 112);

$input-width: 30px;
$input-height: 50px;
$input-margin: 3px;
