@import '../../../styles/variables';

$btn-size: 26px;
$btn-line-width: 4px;
$btn-line-heigth: 16px;

.wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;

  &Header {
    display: inline;

    padding: 0;
    margin: 0;

    font-family: $font-roboto;
    font-size: 22px;
    font-weight: 400;
    color: $color-accent;
  }

  &Button {
    box-sizing: border-box;
    position: relative;

    width: $btn-size;
    height: $btn-size;

    border: none;

    font-family: Arial;

    background-color: $color-font;

    cursor: pointer;
    opacity: 0.4;

    &:hover {
      opacity: 0.6;
    }

    &Close {
      &:before,
      &:after {
        position: absolute;
        top: $btn-line-width + 1px;
        left: calc(($btn-size / 2) - 2px);

        display: block;
        content: ' ';

        height: $btn-line-heigth;
        width: $btn-line-width;

        background-color: white;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
