@import "../../../styles//multistep-form-variables.scss";

.wrapper {
    padding: 10px;
    font-family: $font-main;

    &Row {
        padding-top: 10px;

        &Key {
            padding-right: 6px;
        }

        &Value {
            font-weight: 600;
        }
    }
}