@import '../../../../styles/variables';

.wrapper {
  display: flex;
  justify-content: space-between;

  min-width: 160px;
  max-width: 280px;

  &PageNumber {
    display: block;

    padding: 5px;
    border-radius: 2px;
    margin: 1px;

    font-family: $font-roboto;
    font-size: $font-size-s;

    &:hover {
      cursor: pointer;

      transform: scale(1.1);
    }

    &:disabled {
      color: lightblue;
    }

    &Active {
      background-color: $color-main;

      font-weight: 600;
    }
  }
}
