@import "../../../../styles/rating-stars-variables";

.wrapper {
  width: $star-size;
  height: $star-size;
  margin: $star-size-margin;
  margin-top: 6px;

  path {
    fill: $blank-star-color;
  }
}
