@import '../../styles/breakpoints';
@import './base.module.scss';

@media (min-width: $breakpoint-2) {
  .wrapper {
    &Button {
      width: 300px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
