@import '../../../styles/breakpoints';
@import './base.module.scss';

@media (min-width: $breakpoint-2) {
  .wrapper {
    width: $width-medium;

    margin: 0 auto;

    .searchImage {
      position: absolute;
      top: 7px;
      right: 14px;

      display: block;

      width: 24px;
    }
  }
}

@media (min-width: $breakpoint-3) {
  .wrapper {
    width: $width-long;
  }
}
