// @import '../../../styles/rating-stars-variables';

.wrapper {
  display: flex;
  align-items: center;
  color: rgb(102, 93, 93);
  padding-bottom: 10px;

  &Score {
    font-size: 24px;
    padding-right: 10px;
    margin: 0;
    font-weight: 500;
  }
}
