@import '../../../../styles/variables';

.wrapper {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  width: 100%;

  padding: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
  margin-bottom: 10px;

  background-color: white;

  font-family: Arial;
  font-size: 14px;

  &Loading {
    color: $color-light-grey;
  }
}
